In [93]:
import math;

userinpt=input("Enter the radius : ");
if(userinpt.isnumeric()):
  print("Area numeric = " , math.pi*int(userinpt)**2);
else:
  print("Entered value is not an numeric")

Enter the radius : 2
Area numeric =  12.566370614359172

In [ ]:
x=input("ENTER THE NAME ");
y=input("ENTER THE ROLL NUMBER ");
Z=input("ENTER THE MARK ");
print("NAME :",x)
print("ROLL NUMBER :",y)
print("mark :" ,Z)

ENTER THE NAME seersha
ENTER THE ROLL NUMBER 45
ENTER THE MARK 54
NAME : seersha
ROLL NUMBER : 45
mark : 54

In [ ]:
numbersList=(input("enter number with comma seperation")).split(',');
for num in numbersList:
  if int(num) % 5==0:
    print (num)

enter number with comma seperation25,32,60
25
60

In [ ]:
NUM1=float(input("Enter first number "));
NUM2=float(input("Enter second number "));
NUM3=float(input("Enter third number "));
NUM4=float(input("Enter fourth number "));
if NUM1>=NUM2 and NUM1>= NUM3 and NUM1>=NUM4:
 print((NUM1),"IS THE LARGEST NUMBER")
elif (NUM2>=NUM1) and (NUM2>=NUM3) and (NUM2>=NUM4) :
  print(NUM2,"IS THE LARGEST NUMBER")
elif (NUM3>=NUM1) and (NUM3>=NUM2) and (NUM3>=NUM4):
  print((NUM3),"IS THE LARGEST NUMBER")
else:
  print((NUM4),"IS THE LARGEST NUMBER")

Enter first number 54
Enter second number 53
Enter third number 28
Enter fourth number 42
54.0 IS THE LARGEST NUMBER

In [ ]:
numbersList = (input("Enter number with comma seperation ")).split(',');
sum = 0;
for x in range(0,len(numbersList)):
  if x == 0 :
    sum = numbersList[x];
  else:
    sum = int(numbersList[x - 1]) + int(numbersList[x]);
  print(sum);

Enter number with comma seperation 4,7,9,6
4
11
16
15

In [ ]:
userinput=int(input("ENTER THE NUMBER "));
isPrime = True;
for x in range(2,userinput-1):
  if userinput% x==0:
    print ("number is not prime")
    isPrime = False;
    break;
if isPrime:
  print("Number is prime")

ENTER THE NUMBER 6
number is not prime

In [ ]:
lst= input("enter the list ").split(',');
reversedlist=[]
for item in lst:
  reversedlist.insert(0,item)
print(reversedlist)

enter the list 6,9,12
['12', '9', '6']

In [ ]:

NUM1=float(input("ENTER FIRST NUMBER "));
NUM2=float(input("ENTER SECOND NUMBER "));
NUM3=float(input("ENTER THIRD NUMBER "));
if (NUM1>=NUM2) and (NUM1>=NUM3):
  print(NUM1)
elif (NUM2>=NUM1) and (NUM2>=NUM3):
  print(NUM2)
else:
  print(NUM3)

ENTER FIRST NUMBER 56
ENTER SECOND NUMBER 584
ENTER THIRD NUMBER 26
584.0

In [ ]:
for i in range(1,5):
  print("*"*i)

*
**
***
****

In [ ]:
for a in range(1,3):
  firstVal = 0
  lastVal = 5
  step = 1
  if(a == 2):
    firstVal = 5
    lastVal = -1
    step = -1
  for b in range(firstVal, lastVal, step):
    b= abs(b);
    print('*'*(a + b))
print('*')

*
**
***
****
*****
*******
******
*****
****
***
**
*

In [ ]:
userinput=int(input("ENTER THE NUMBER "));

ENTER THE NUMBER4
number is not prime